server:
  port: 8082

spring:
  application:
    name: authentication-service
  datasource:
    url: jdbc:postgresql://postgres:5432/auth_db
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
  liquibase:
    change-log: classpath:/db/changelog/db.changelog-master.xml
  management:
    endpoints:
      web:
        exposure:
          include: health
    endpoint:
      health:
        probes:
          enabled: true

app:
  internal-key: ${INTERNAL_KEY}
  jwt:
    secret: ${JWT_SECRET}
    tokenExpiration: 300000
    refreshTokenExpiration: 1800000

user-service:
  url: http://user-service:8080
